* {
    box-sizing: border-box;
}

header h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a{
    color: white;
    float: left;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav a:hover{
    background-color: #111;
    border: 2px solid rgb(155, 0, 0);
    border-radius: 100px;
}

p{
    font-size: 40px;
    text-align: center;
}

.text {
    border: 1px solid red;
    background-color: red;
}
